<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="customer/layout :: head"></head>
<style>
    #form{
        margin-left: 650px;
    }

</style>
<body>
<h3>Add Service</h3>
<h2>
    <a th:href="@{/service}">
     HOME
    </a>
</h2>
<div id="form">
    <form th:action="@{save}" th:object="${service}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{serviceName}"/>
        </div>
        <div>
            <label>Cost</label>
            <br>
            <input type="text" th:field="*{cost}"/>
        </div>
        <div>
            <label>People</label>
            <input type="text" th:field="*{maxPeople}"/>
        </div>
        <div>
            <label>Standard Room</label>
            <input type="text" th:field="*{standardRoom}"/>
        </div>
        <div>
            <label>Description</label>
            <input type="email" th:field="*{description}"/>
        </div>
        <div>
            <label>Pool area</label>
            <input type="text" th:field="*{poolArea}"/>
        </div>
        <div>
            <label> Floor</label>
            <input type="text" th:field="*{floor}"/>
        </div>
<!--        <div>-->
<!--            <label>Type </label>-->
<!--            <select th:field="*{type_id}">-->
<!--                <option th:each="p : ${customerType}" th:value="${p.type_id}" th:text="${p.type_name}"></option>-->
<!--            </select>-->
<!--        </div>-->
        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="customer/layout :: footer"></footer>
</body>
</html>
<!--private String serviceName;-->
<!--private int area;-->
<!--private double cost;-->
<!--private int maxPeople;-->
<!--private String standardRoom;-->
<!--private String description;-->
<!--private double poolArea;-->
<!--private int floor;-->