<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="customer/layout :: head"></head>
<body>
<h3>Remove Customer</h3>
<p>
    <a th:href="@{/customer}">
        Back to customer list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/service/delete}" th:object="${service}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <label  type="text" th:text="${serviceName}"/>
        </div>
        <div>
            <label>standardRoom</label>
            <label   th:text="${standardRoom}"/>
        </div>
<!--        <div>-->
<!--            <label>Type</label>-->
<!--            <label  type="text"   th:text="${type_id.getType_name()}"/>-->
<!--        </div>-->
        <input type="submit" value="Remove"/>
    </form>
</div>
<footer th:replace="customer/layout :: footer"></footer>
</body>
</html>