<hr>
<h2>Form đăng nhập</h2>
<form #loginValid="ngForm" style="width: 300px" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginValid)">
  <div class="form-group row">
    <label class="col">
      Email
    </label>
    <input type="email" class="form-control" formControlName="userEmail">
    <span *ngIf="loginForm.controls.userEmail.touched && loginForm.controls.userEmail?.invalid" style="color: red">Required input</span>
  </div>
  <div class="form-group row">
    <label class="col">Password </label>
    <input type="password" class="form-control"
           formControlName="passwordValid">
    <span *ngIf="loginForm.controls.passwordValid.touched && loginForm.controls.passwordValid?.invalid" style="color: red">min 6 words</span>
  </div>
  <div>
    <button class="btn btn-info">Submit</button>
  </div>
</form>
