<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Spring Security Example</title>
</head>
<body>
<h2>Spring Security Example</h2>
<hr/>
<h3>
    Welcome !
    <div sec:authorize="isAuthenticated()">
        <span sec:authentication="principal.username"></span>
    </div>
</h3>
<div sec:authorize="isAnonymous()">
    Login blog by  <a th:href="@{/customer}">User</a> or <a th:href="@{/employee}">Admin</a>
</div>
<h1>M?i b?n ??ng nh?p ?? ti?p t?c </h1>
<div sec:authorize="isAuthenticated()">
    <h1>M?i b?n ??ng nh?p ?? ti?p t?c </h1>
    <div sec:authorize="hasRole('USER')">
        <a th:href="@{/customer}">CLICK GO TO BLOG</a>
    </div>
    <h1>M?i b?n ??ng nh?p ?? ti?p t?c </h1>

    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/employee}"> CLICK GO TO BLOG</a>
    </div>
    <a th:href="@{/login}">Logout</a>
</div>
</body>
</html>