<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>

</head>
<p>
    <a href="/blog">HOME</a>
</p>
<body>
<h1 th:text="${msg}"></h1>
<form th:action="@{/save}" th:object="${blog}" method="post">
    <table>
        <tr>
            <td>Content:</td>
            <td><input type="text" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create blog new"></td>
        </tr>
    </table>
</form>
</body>
</html>

<!--private Integer id;-->
<!--private String content;-->
<!--private String description;-->