// bài 1 //
<h2>Font size editor</h2>
<div>
  <label>Enter font size (px):</label>
  <input type="range" min="9" max="72" value="18" [(ngModel)]="fontSize">
</div>

<p class="output" [style.fontSize.px]="fontSize">
  This is a paragraph.
</p>


// bài 2 //
<h2>Pet profile</h2>
<h3>Pet name: {{pet.name}}</h3>
<img [src]="pet.image" style="max-width: 100%">
<br>
// bài 3 //
<table class="table">
  <thead class="table-dark">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>IPhone 12</td>
    <td>320000</td>
  </tr>
  <tr>
    <td>2</td>
    <td>IPhone 11</td>
    <td>160000</td>
  </tr>
  <tr>
    <td>3</td>
    <td>IPhone X</td>
    <td>100000</td>
  </tr>
  </tbody>
</table>



