<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="customer/layout :: head"></head>
<meta charset="UTF-8">
<body>
<!--<p>-->
<!--    <a th:href="@{/customer}">-->
<!--        Back to customer list-->
<!--    </a>-->
<!--</p>-->
<div>
    <h3>Bạn có muốn xóa </h3>

    <form th:action="@{/delete/employee}" method="POST" th:object="${employee}">
        <input type="hidden" th:field="*{employeeId}">
        <div>
            <label class="label-text" th:text="${employee.name}"></label>
        </div>

        <input type="submit" value="Remove"/>
    </form>
</div>
<!--<input type="hidden" th:field="*{employeeId}"/>-->
<!--<div>-->
<!--    <label class="label-text" th:text="${employee.name}"></label>-->
<!--</div>-->
<!--<button type="button"><a th:href="@{/delete/{idEmployee}/employee(idEmployee=${employee.getEmployeeId()})}"></a>Delete-->
<!--</button>-->
</body>
</html>