<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="customer/layout :: head"></head>
<body>
<h3>View Customer</h3>
<p>
    <a th:href="@{/}">
       HOME
    </a>
</p>
<div id="detail">
    <div class="cusdetail">
        <label>Name:</label>
        <label th:text="${customer.name}"></label>
    </div>
    <div class="cusdetail">
        <label>Date of birth:</label>
        <label th:text="${customer.dateOfBirt}"></label>
    </div>
    <div class="cusdetail">
        <label>Gender:</label>
        <label th:text="${customer.gender}"></label>
    </div>
    <div class="cusdetail">
        <label>Id card:</label>
        <label th:text="${customer.idCard}"></label>
    </div>
    <div class="cusdetail">
        <label>Phone Number:</label>
        <label th:text="${customer.phoneNumber}"></label>
    </div>
    <div class="cusdetail">
        <label>Email:</label>
        <label th:text="${customer.email}"></label>
    </div>
    <div class="cusdetail">
        <label>Address:</label>
        <label th:text="${customer.address}"></label>
    </div>
    <div class="cusdetail">
        <label>Type : </label>
        <label th:if="${customer.type_id}" th:text="${customer.type_id.getType_name()}"></label>
    </div>
</div>
<footer th:replace="customer/layout :: footer"></footer>
</body>
</html>



<!--<div>-->
<!--    <label>Type </label>-->
<!--    <select th:field="*{type_id}">-->
<!--        <option th:each="p : ${customerType}" th:value="${p.type_id}" th:text="${p.type_name}"></option>-->
<!--    </select>-->
<!--</div>-->

<!--private String name;-->
<!--private Date dateOfBirt;-->
<!--private String gender;-->
<!--private String idCard;-->
<!--private String phoneNumber;-->
<!--private String email;-->
<!--private String address;-->
<!--CustomerType type_id-->